@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* THE RUDIARIUS PALETTE */
  --bg-void: #0a0a0a; /* Main Background */
  --bg-card: #1f1f1f; /* Component Background */

  --text-bone: #f2e8d5; /* Primary Text */
  --text-muted: #dcd3c0; /* Secondary Text */

  --rudis-wood: #8f5b34; /* Buttons/Borders */
  --legion-red: #9a2a2a; /* CTA/Alerts */
  --gladiator-gold: #c5a065; /* Accents */

  --font-serif: "Cinzel", serif;
  --font-sans: "Lato", sans-serif;
}

body {
  background-color: var(--bg-void);
  color: var(--text-bone);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
  font-weight: 700;
  text-transform: uppercase;
}
