@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* THE RUDIARIUS PALETTE */
  --bg-void: #0a0a0a;         /* Main Background */
  --bg-card: #1F1F1F;         /* Component Background */
  
  --text-bone: #F2E8D5;       /* Primary Text */
  --text-muted: #dcd3c0;      /* Secondary Text */
  
  --rudis-wood: #8F5B34;      /* Buttons/Borders */
  --legion-red: #9A2A2A;      /* CTA/Alerts */
  --gladiator-gold: #C5A065;  /* Accents */

  --font-serif: 'Cinzel', serif;
  --font-sans: 'Lato', sans-serif;
}

body {
  background-color: var(--bg-void);
  color: var(--text-bone);
  font-family: var(--font-sans);
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
  font-weight: 700;
  text-transform: uppercase;
}